<!DOCTYPE html>
<html lang="ko">

<head>
  <title>MintVoice</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <meta property="og:type" content="website">
  <meta property="og:title" content="MintVoice - 성우 데이터베이스">
  <script src="src/lib/jquery/jquery-3.3.1.min.js"></script>
  <script src="src/lib/bootstrap-3.3.2-dist/js/bootstrap.min.js"></script>
  <script src="https://cdn.rawgit.com/inorganik/countUp.js/master/dist/countUp.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/html5media/1.1.8/html5media.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.js"></script>
  <link rel="stylesheet" href="src/lib/bootstrap-3.3.2-dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="src/css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/plyr/2.0.18/plyr.css">
  <link rel="shortcut icon" href="/images/favicon.ico">

</head>

<body>
  <!-- Modal -->
  <div id="feels" class="modal fade" role="dialog">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title ">원하는 느낌을 선택해주세요.</h4>
        </div>
        <div class="modal-body">
          <div class="container-fluid">
            <form id="feelsForm">
              <% tags.feels.forEach(function (tag, index) { %>
                <% if (index % 10 == 0) { %>
                  <div class="row">
                    <% } %>

                      <% if (tag.name.trim().length > 2) { %>
                        <div class="checkbox-inline col-md-1-5 col-xs-1-5">
                          <% } else { %>
                            <div class="checkbox-inline col-md-1 col-xs-1">
                              <% } %>

                                <input type="checkbox" name="feels" value="<%=
                                tag.id %>" id=" <%= tag.key %>" class="modalCheckBox">
                                <label for="<%= tag.key %>"><%= tag.name.trim() %></label>
                            </div>
                            <% if (index % 10 == 9 || tags.feels.length-1 == index) { %>
                        </div>
                        <br />
                        <% } %>
                          <% }) %>
            </form>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-info" data-dismiss="modal" id="modalButton">선택 완료!</button>
          </div>
        </div>
      </div>
    </div>

    <!-- 메인 컨테이너 -->
    <div class="container-fluid">

      <!-- 상단바 -->
      <header class="row row-eq-height vertical-align" id="headerbar">
        <div class="col-md-1 col-xs-1">

        </div>
        <div class=" col-md-1 col-md-offset-10 col-xs-offset-10 col-xs-1">
          <div class="dropdown pull-right">
            <button class="btn btnWeight dropdown-toggle btn-primary outline" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-expanded="true">
      LANGUAGE
      <span class="caret"></span>
    </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/lang/ko">한국어</a></li>
              <li role="presentation"><a role="menuitem" tabindex="-1" href="/lang/en">English</a></li>
            </ul>
          </div>
        </div>
      </header>

      <!-- 메인 이미지 -->
      <div class="row" id="mainImage">
        <div class="col-md-12">
          <img src="images/index_main.png" class="img-responsive" alt="Responsive image">
        </div>
      </div>

      <!-- Counter -->
      <section class="row" id="countering">
        <div class="col-md-12">
          <div class="row row-eq-height">
            <div class="text-center h3 bold col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3">
              <img src="images/users-icon.png" class="img-responsive center-block" alt="Responsive image" />
            </div>
            <div class="text-center h3 bold col-md-3 col-xs-3">
              <img src="images/datas-icon.png" class="img-responsive center-block" alt="Responsive image" />
            </div>
          </div>
          <div class="row row-eq-height">
            <div class="text-center h1 bold col-md-3 col-md-offset-3 col-xs-3 col-xs-offset-3">
              <span id="sourceUser"></span>
            </div>
            <div class="text-center h1 bold col-md-3 col-xs-3">
              <span id="sourceCount"></span>
            </div>
          </div>
          <div class="row row-eq-height">
            <div class="text-center h3 bold col-md-3 col-md-offset-3 col-xs-4 col-xs-offset-2">
              VoiceActor
            </div>
            <div class="text-center h3 bold col-md-3 col-xs-4">
              Voice
            </div>
          </div>
        </div>
      </section>

      <!-- 메인 네비게이션. Notice, Contact 이동 -->
      <nav class="row" id="mainNav">
        <div class="col-md-12 col-xs-12">
          <div class="row" id="navBox">
            <div class="col-md-6 col-xs-6 text-center h2">
              MintVoice의 새 소식을 전해 드립니다!
              <br /><br/>
              <a href="/board/notice"><button class="btn btn-primary outline btnWeight" type="button" id="noticeButton">NOTICE</button></a>
            </div>
            <div class="col-md-6 col-xs-6 text-center h2">
              녹음 작업이나 스튜디오 대여를 원하시나요?
              <br/><br/>
              <a href="/board/contact"><button class="btn btn-primary outline btnWeight" type="button" id="noticeButton">CONTACT US</button></a>
            </div>
          </div>
        </div>
      </nav>

      <form id="searchForm">
        <section class="row row-eq-height" id="mainBox">
          <div class="col-md-12 col-xs-12" id="filterBox">
            <div class="row vertical-align">
              <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1 h3 margin4">
                분야
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1 h3">
                성별
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1 h3">
                나이대
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-2 col-xs-offset-1 h3">
                음역대
              </div>
            </div>
            <div class="row row-eq-height" id="checkboxContent">
              <div class="col-md-2 col-md-offset-1 col-xs-3 margin4">
                <select class="form-control" name="category">
                    <% tags.category.forEach(function (tag) { %>
                    <option value="<%= tag.id %>" id="select_<%= tag.key %>"><%= tag.name %></option>
                    <% }) %>
                </select>
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-3">
                <select class="form-control" name="gender">
                    <% tags.gender.forEach(function (tag) { %>
                    <option value="<%= tag.id %>" id="select_<%= tag.key %>"><%= tag.name %></option>
                    <% }) %>
                </select>
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-3">
                <select class="form-control" name="age">
                    <% tags.age.forEach(function (tag) { %>
                    <option value="<%= tag.id %>" id="select_<%= tag.key %>"><%= tag.name %></option>
                    <% }) %>
                </select>
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-3">
                <select class="form-control" name="octave">
                    <% tags.octave.forEach(function (tag) { %>
                    <option value="<%= tag.id %>" id="select_<%= tag.key %>"><%= tag.name %></option>
                    <% }) %>
                </select>
              </div>
            </div>
            <div class="row vertical-align row-eq-height">
              <div class="col-md-2 col-md-offset-2 col-xs-3 col-xs-offset-2 h3 margin4">
                느낌 선택
              </div>
              <div class="col-md-2 col-md-offset-1 col-xs-3 col-xs-offset-2 h3">
                통합 검색
              </div>
            </div>
            <div class="row row-eq-height">
              <div class="col-md-2 col-md-offset-2 col-xs-3 col-xs-offset-2 h4 margin4" id="showListWrap">
                <button type="button" class="btn btn-primary outline" data-toggle="modal" data-target="#feels">
                 Show List<span class="badge" id="selectNumber">0</span>
               </button>
              </div>
              <div class="col md-2 col-md-offset-1 col-xs-3 col-xs-offset-2" id="textListWrap">
                <div id="textWrap">
                  <input type="text" class="form-control" placeholder="검색어를 입력해주세요.">
                </div>
              </div>
            </div>
            <div class="row vertical-align" id="searchBar">
              <div class="col-md-4 col-md-offset-4 col-xs-12 col-xs-offset-1" id="searchButtonWrap">
                <input type="button" class="btn btn-block btnWeight" value="보이스 검색" id="searchButton">
              </div>
            </div>
          </div>
        </section>
      </form>

      <!-- Main Contents -->
      <section class="row" id="contentBox">
        <div class="col-md-10 col-md-offset-1 col-xs-11" id="dataWrap">
          <div class="col-md-3 col-md-offset-9 col-xs-10 col-xs-offset-2 h4 text-right" id="dbText">
            0개의 DB가 검색되었습니다.
          </div>
          <div class="row row-eq-height" id="card">
            <div class="col-md-12 col-xs-12">
              <div class="audioContainer">
                <div class="column add-bottom">
                  <div id="mainwrap">
                    <div id="nowPlay">
                      <span class="left" id="npAction">Paused...</span>
                      <span class="right h4" id="npTitle"></span>
                    </div>
                    <div id="audiowrap">
                      <div id="audio0">
                        <audio preload id="audio1" controls="controls">Your browser does not support HTML5 Audio!</audio>
                      </div>
                      <div id="tracks">
                        <a id="btnPrev">&#xE000;</a>
                        <a id="btnNext">&#xE001;</a>
                      </div>
                    </div>
                    <div id="plwrap">
                      <ul id="plList"></ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <nav class="text-center" aria-label="Page navigation">
        <ul class="pagination">
          
        </ul>
      </nav>



      <footer class="row row-eq-height" id="footerBox">
        <div class="col-md-12 col-xs-12">
          <div class="row">
            <div class="col-md-2 col-md-offset-3">
              <div class="bold h3">Address</div>
              <p class="contact-meta">B1, Fine Bld. 8401, Yangjae-dong, Seocho-gu, Seoul, South Korea</p>
            </div>
            <div class="col-md-2">
              <div class="bold h3">Email</div>
              <p class="contact-meta">mint@mintsound.co.kr</p>
            </div>
            <div class="col-md-2">
              <div class="bold h3">Phone</div>
              <p class="contact-meta">+82-2-579-1640</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-4 col-md-offset-4 text-center h4" id="reserved">
              2018 © mintsound, some rights reserved.
            </div>
          </div>
        </div>
      </footer>

      <!-- Main Container End -->
    </div>

    <script src="src/js/index.js"></script>
    <script src="src/js/checknum.js"></script>
    <script src="src/js/audio.js"></script>
    <script src="src/js/pagination.js"></script>

</body>

</html>